
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <span>名：</span>
            <span>
                <input type="text" v-model="firstName">
            </span>
        </div>
        <div>
            <span>姓：</span>
            <span>
                <input type="text" v-model="lastName">
            </span>
        </div> 
        <div>{{fullName}}</div>
    </div>

    <script src="../vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data :{
                firstName:'bayas',
                lastName:'tunnl',
                fullName:'bayas&tunnl'
            },
            watch:{
                firstName: function(val){
                    this.fullName = val + '&&&' + this.lastName;
                },
                lastName: function(val){
                    this.lastName = this.firstName + '&&&'  + val
                }
            },
            methods:{

            }
        })
    </script>
</body>
</html>